version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:latest
    ports:
      - "9092:9092"
  
  analyzer:
    build: .
    depends_on:
      - kafka
  
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
  
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"

networks:
  distributed-log-analyzer-network:
    driver: bridge

volumes:
  distributed-log-analyzer-data:
